.center{
  text-align: center;
  font-size: 3rem;
}
.container{
  width: 100%;
}
.box{
 display: flex;
 flex-wrap:wrap;
 align-items: center;
 justify-content: center;

}
.box .card .card-image img{
  width: 400px;
}
.box .card .card-content{
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}